
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236 246 248);
    padding: 2px;
}


h1 {
    color: rgb(49, 49, 163);
    text-align: center;
}
h2{
    color: #fff;
}
h3{
    color: rgb(49, 49, 163);
}
p{
    text-align: center;
}

.container{
    padding: .5px;
    width: 95%;
    height: auto;
    background: #084408;
    text-align: center;

}
.boton{
    width: 80%;
    height: auto;
    background-color: lawngreen;
    padding: 10px;
    text-align: center;
    border-color: #084408;
    
    }
    b{
        font-size: large;
        text-align: center;
    }
    footer{
        text-align: center;
    }
    .imagenes{
        display: inline-block;
        align-items: center;
    }
     .imagen{
        display: inline-block;
        margin: auto;
     }
 @media screen and (max-width: 400px){
     .imagenes{
        display: block;
        margin: auto;
     }
 }


 @media screen and (max-width: 300px){
    img{
    max-width: 400px;
    }
    
    .container{
        max-width:350px;
    }
    h1{
        width: none;
    }
    h3{
        width: none;
    }
     /* b{
        font-variant: ;
    }   
     */
    }
    
    @media screen and (min-width:301px) {
    .logos{
        min-width: 300px;
        align-items: center;
        
    
    } 
    .container{
        min-width:auto;
        margin: auto;
        border: 1px;
    }
    h1{
        min-width: none;
    }
    
    }
