
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    /* width: 100%; */
    padding: 5%;
}


h1 {
    color: blue;
    text-align: center;
}
h2{
    color: #fff;
}
h3{
    color: blue;
}
p{
    text-align: center;
}

.container{
    padding: 2px;
    width: 95%;
    height: auto;
    background: #084408;
    text-align: center;

}
.boton{
    width: 80%;
    height: 40px;
    background-color: lawngreen;
    padding: 10px;
    text-align: center;
    border-color: #084408;
    
    }
    b{
        font-size: large;
        text-align: center;
    }
    footer{
        text-align: center;
    }
    .imagenes{
        width: 100%;
        display: inline;
        align-items: center;
        background-size:cover;
    }