@media screen and (max-width:300px) {
.imagenes{
    max-width: 300px;
    align-items: center;
} 

.container{
    max-width: 400px;
}
h1{
    width: none;
}
h3 {
    width: 100%;
    text-align: center;
}
h3{
    width: none;
}


}
@media screen and (min-width:301px) {
    .imagenes{
    display: grid;
    min-width: 300px;
    align-items: center;

} 
.container{
    max-width: 400px;

}
h1{
    min-width: none;
}
h3 {
    max-width: 350px;
}

}
