@media screen and (max-widht:300px) {
.imagenes{
    max-width: 300vw;
    align-items: center;
} 
.container{
    max-width: 400px;
}
h1{
    width: none;
}
h3 {
    width: 100%;
    text-align: center;
}
.subtitulo{

}
h3{
    width: none;
}
div {
    max-width: 400px;
}


}
@media screen and (min-widht:301px) {
    .imagenes{
        display: grid;
    min-width: 300vw;
    align-items: center;

} 
.container{
    max-width: 400px;

}
h1{
    min-width: none;
}
h3 {
    max-width: 350px;
}

}
